.about-main {
    font-family: "Akaya Telivigala",serif,sans-serif;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;

    & .motto {
       animation: message .5s ease infinite linear ease;
    }

    @keyframes message {
        from{ visibility: hidden;}
        to{ visibility: visible;}
    }

    & .members {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: .3rem;

       & .members-container {
        position: relative;
        display: inline-block;
        font-size: large;
        color: goldenrod;
          width: 450px;
          cursor: pointer;   
        &:hover .info {
            visibility: visible; 
                       
                        }


        & .info {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 5px 10px;
            visibility: hidden;
            transition: all visibility .3s ease;
        }
       }
        & img {
            width: 150px;
            border-radius: .5rem;
            
        }

        
    }
}