nav {
  font-family: "Anta", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
 text-align: center;
  & ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;

    & a {
      text-decoration: none;
      
      &:hover li{
        text-decoration: underline;
        text-underline-offset: 0.2rem;
      }
    }
  }
  & .avatar{
    position: relative;

   & .modal {
    z-index: 99;
    position: absolute;
    top: 100%;
    left: -40px;
    height: 10rem;
background-color: whitesmoke;
border-radius: .8rem;
    & ul{
        display: flex;
        flex-direction: column;
    }
  }

  }


  
}

@media (max-width:454px){
  nav {
    font-size: 12px;
}
}
@media (max-width:552px) {
  nav {
    flex-direction: column;
    }
    .main-ul {
      margin-bottom: 1rem;
    }
}