.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  & .main-room {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px;
    border-radius: 0.5rem;
    padding: 0.5rem;

    & span {
      text-align: center;
      font-family: "Goudy Bookletter 1911", sans-serif;
    }

    & .bed-type {
      font-size: larger;
       &:hover{text-transform: uppercase;}
    }
  }

  & img {
    width: 300px;
    height: 200px;
    margin: 0.5rem;
    border-radius: 0.5rem;
    object-fit: fill;
  }
}
