.not-found-main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url("https://img.lovepik.com/free-png/20220126/lovepik-404-page-error-png-image_401803270_wh1200.png"); */
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20220509/pngtree-404-error-page-not-found-image_1345267.jpg");
    background-size: cover;
    min-height: 80dvh;

    & .sub-container {
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;

    /* & img {
        width: 500px;
    } */
    }
}